# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE LSP helper
/.zed/

# Project data
/data/
/assets/

# Python Virtual Environment
/src/pipeline/.venv/

# Don't ignore if in vendor
!vendor/**

# OS-specific junk files
.DS_Store
Thumbs.db

# Ignore all python cache files everywhere
**/__pycache__/
**/*.py[cod]
**/*.pyo

/.vs
/out
/output
