# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE LSP helper
/.zed/
/.vs
/out
/output

# Project data
/data/
/assets/

# Python Virtual Environment
**/.venv/

# Don't ignore if in vendor
# !vendor/**

# OS-specific junk files
.DS_Store
Thumbs.db

# Ignore all python cache files everywhere
**/__pycache__/
**/*.py[cod]
**/*.pyo


# Vendor
# Block the heavy dependency folders entirely
/vendor/imgui/
/vendor/SDL2/
/vendor/nlohmann_json/

/vendor/NeuS2/configs/nerf/**.json

# Whitelist 
!vendor/NeuS2/configs/nerf/base.json
!vendor/NeuS2/configs/nerf/dtu.json

